#about {
    width: 100%;
    padding: 100px 60px;
    box-sizing: border-box;
}

#about h1 {
    text-align: center;
    color: #FF0000;
}

#about ul {
    padding: 0;
    margin: 0;
}

#about li {
    padding: 10px 0;
}

#about .about-point {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#about .about-point-single {
 width: 23%;
 box-shadow: 0 0 30px 6px #eceff5;
 padding: 10px 20px;
 box-sizing: border-box;
 margin: 0px 10px;
 cursor: pointer;
 text-align: center;
}