#organization1 {
    width: 100%;
    padding: 100px 60px 50px;
    box-sizing: border-box;
    margin: 0px auto;
}

#organization1 h1 {
    color: #FF0000;
    text-transform: uppercase;
    text-align: center;
}

#organization1 p {
    text-transform: uppercase;
    text-align: center;
}

#organization1 img {
    display: block;
    margin: 0px auto;
}